@charset "utf-8";
main, header, footer, article, aside, nav{
    border:1px solid black;
    padding:10px;
}

main{
    max-width: 800px;
    margin: auto;
    background-color: white;
    display:grid;
    grid-template-areas: " he he he he "
                         "na na na na "
                        "ar ar ar as"
                        "fo fo fo fo";
}


nav a{
    text-decoration:none;

}


    

header{
    background-color: greenyellow;
    grid-area: he;
}

nav{
    background-color: lightblue;
    grid-area: na;
}

.kep{
    grid-areas: k;
    width: 100px;
    height: 130px;
    padding-bottom: 50px;
    
}

article{
    grid-area: ar;
    grid-gap:10px;
    background-color: burlywood;
    display:grid;
    grid-template-areas:"k k k k ";
    padding-bottom: 50px;
}

article p{
    margin:5px;
}

aside{
    grid-area: as;
    background-color: burlywood;
}

aside p{
    float:left;
}



img{
    width: 100%;
    height: 100%;
    
}

li{
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer{
    background-color: lightgreen;
    grid-area: fo;

}

header h1{
    text-align: center;
}

@media screen and (max-width:600px) {
    main{
         grid-template-areas: "he"
         "na"
         " ar"
                            "as"
                        " fo";
}
header{
    background-color: greenyellow;
    grid-area: he;
}
nav{
    background-color: lightblue;
    grid-area: na;
}
.kep{
    grid-areas: k;
    width: 100%;
}
article{
    grid-area: ar;
    grid-gap:10px;
    background-color: burlywood;
    display:grid;
    grid-template-areas:"k k ";
    padding-bottom: 50px;
}

}